Gmail AI Reply.json
{
  "name": "Gmail AI Reply",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -128,
        0
      ],
      "id": "12e15f88-a7d3-4835-bc32-fc4c3895a2c1",
      "name": "Get a message",
      "webhookId": "9f12a8b2-dddf-40f5-bf78-b8b410c299ad",
      "credentials": {
        "gmailOAuth2": {
          "id": "MCmt8CNKvKvPqWie",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -336,
        0
      ],
      "id": "e053e3b2-8f46-4072-86f5-f6b9ff3add9f",
      "name": "Check for new Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "MCmt8CNKvKvPqWie",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are a email responding agent. \n\n\nBelow are the content of lastest email i got\n\nsubject:{{ $json.Subject }}\nBody: {{ $json.snippet }}\n\nyou have to do 2 things.\n\n1.specify the label based on the email.\nuse the tool to get all the labels and there id and mention both of them properly.\n\nlabel can be one of these below:\ncourse,\ndoubt,\nsponsership.\n\n2.As a smart assistant please draft the response for me so that I can reply to my email with subject and body.\n\nmake sure that the reply is very respectable and wherever require please explain the student doubt in depth with an example and also make sure that reply follow a strict HTML format so it is easily to read.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        0
      ],
      "id": "1266efc3-ee83-4d44-8bf2-9a00415c0a07",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -16,
        240
      ],
      "id": "50b7250a-c382-4825-981c-00415da1ae86",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "09pExKJIXPJ8hSKD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"label\": \"doubt\",\n  \"label_id\":\"15122\",\n  \"subject\":\"doubt_answer\",\n  \"body\": \"Hey,Thanks for reaching out \"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        320,
        240
      ],
      "id": "b6ada8d1-3c34-47a2-b379-b37ae73037f5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "id": "55112f55-bc23-47c4-8d19-c035c26d1d54",
      "name": "Add label to message",
      "webhookId": "e6545962-7387-4fd2-b6e7-3244a7da891b",
      "credentials": {
        "gmailOAuth2": {
          "id": "MCmt8CNKvKvPqWie",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "label"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        160,
        240
      ],
      "id": "a564d4e4-d9a9-43df-9419-3b377af34ee1",
      "name": "Get many labels in Gmail",
      "webhookId": "07f627d9-3bbd-4adb-b162-f6f88b9b9883",
      "credentials": {
        "gmailOAuth2": {
          "id": "MCmt8CNKvKvPqWie",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailType": "html",
        "message": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "replyTo": "={{ $('Get a message').item.json.From }}",
          "sendTo": "={{ $('Get a message').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        0
      ],
      "id": "20fd2489-5eeb-445d-8507-3241cdfdaf70",
      "name": "Create a draft",
      "webhookId": "bd96f0b8-96d8-4ae2-a79a-87a23ff164cd",
      "credentials": {
        "gmailOAuth2": {
          "id": "MCmt8CNKvKvPqWie",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Check for new Email": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6fe3835d-fea7-4731-bca6-2d12b22c363a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5252e33be5367dba6598c01578a5f438c71ce3b4ac5c88b79f8ffd42aaea1492"
  },
  "id": "JKDVuHhuYOkRgrdo",
  "tags": []
}